/*--------------------------------------------------------------
Hello, this is the stylesheet for the Social Marketing plugin
If you do not want to use these styles please add the following
to your theme's functions.php:
add_theme_support('wdsm');
----------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Normalise and clears
2.0 - Layout
3.0 - Styles : There are colour styles for the plugin:
- 3.1 - Blue
- 3.2 - Grey
- 3.3 - Yellow
- 3.4 - Red
--------------------------------------------------------------*/
/*--------------------------------------------------------------
1.0 - Normalise and clears
--------------------------------------------------------------*/
 .wdsm_ad:before, .wdsm_ad:after,
 .wdsm_services:before, .wdsm_services:after {
	content: "";
	display: table;
 }
.wdsm_ad:after, .wdsm_services:after {
	clear: both;
}
.wdsm_ad, .wdsm_services {
	zoom: 1;
}
 /*--------------------------------------------------------------
 2.0 - Layout
 --------------------------------------------------------------*/
 .wdsm_ad_link{
 	margin: 10px 0;
 	padding: 10px;
 	overflow:hidden;
 }
 .wdsm_ad_link h4{
 	margin:0;
 	padding:0;
 }
 .wdsm_ad_link p{
 	margin:10px 0;
 	padding:0;
 }
 .wdsm_ad_link.wdsm_right, /* Legacy alignment identifier */
 .wdsm_ad_link.alignright {
 	float: right;
 	margin-left: 15px;
 	width: 50%;
 }
 .wdsm_ad_link.wdsm_left, /* Legacy alignment identifier */
 .wdsm_ad_link.alignleft {
 	float: left;
 	margin-right: 15px;
 	width: 50%;
 }
 .wdsm_ad_link.wdsm_center, /* Legacy alignment identifier */
 .wdsm_ad_link.aligncenter {
 	display: block;
 	margin-left: auto;
 	margin-right: auto;
 	width: 50%;
 }
 
.wdsm_ad_container_wrapper {
	display: none;
}
.wdsm_service {
	width: 24%;
	min-width: 60px;
	float: left;
}
.wdsm_action_content {
	margin: 4px 0;
}
.wdsm_services .fb_edge_comment_widget { /* Don't allow like comments in services */
	display: none;
}
 /*--------------------------------------------------------------
 3.0 - Styles
 --------------------------------------------------------------*/
 /*--------------------------------------------------------------
 3.1 - Blue
 --------------------------------------------------------------*/
 .wdsm_ad_link.blue{
 	border: 3px dashed #a1d0e0;
 	background: #edf6f9;
 	color: #111;
 }
 .wdsm_ad_link.blue a.wdsm_action_link{
 	padding: 4px 15px;
 	border: 1px solid #306272;
 	background: #42859b;
 	color: #fff;
 	text-decoration:none;
 }
 .wdsm_ad_link.blue a:hover.wdsm_action_link{
 	background: #306272;
 	color: #fff;
 }
 /*--------------------------------------------------------------
 3.2 - Grey
 --------------------------------------------------------------*/
 .wdsm_ad_link.grey{
 	border-right: 1px solid #ccc;
 	border-bottom: 1px solid #ccc;
 	border-top: 1px solid #ddd;
 	border-left: 1px solid #ddd;
 	background-color: #fcfdff;
 	background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(252, 253, 255)), to(rgb(246, 250, 250)));
 	background-image: -webkit-linear-gradient(top, rgb(252, 253, 255), rgb(246, 250, 250));
 	background-image: -moz-linear-gradient(top, rgb(252, 253, 255), rgb(246, 250, 250));
 	background-image: -o-linear-gradient(top, rgb(252, 253, 255), rgb(246, 250, 250));
 	background-image: -ms-linear-gradient(top, rgb(252, 253, 255), rgb(246, 250, 250));
 	background-image: linear-gradient(top, rgb(252, 253, 255), rgb(246, 250, 250));
 	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#fcfdff', EndColorStr='#f6fafa');
 	color: #444;
 	-moz-border-radius:3px;-khtml-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;
 	-moz-box-shadow: 0 3px 3px #ccc;
 	-webkit-box-shadow: 0 3px 3px #ccc;
 	box-shadow: 0 3px 3px #ccc;
 }
 .wdsm_ad_link.grey a.wdsm_action_link{
 	padding: 4px 15px;
 	border-right: 1px solid #aaa;
 	border-bottom: 1px solid #aaa;
 	border-top: 1px solid #ddd;
 	border-left: 1px solid #ddd;
 	background-color: #fff;
 	color: #75ab24;
 	text-decoration:none;
 	float: right;
 	-moz-border-radius:3px;-khtml-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;
 }
 .wdsm_ad_link.grey a:hover.wdsm_action_link{
 	background: #f3f3f3;
 	color: #75ab24;
 }
 /*--------------------------------------------------------------
 3.3 - Yellow
 --------------------------------------------------------------*/
 .wdsm_ad_link.yellow{
 	border-top: 1px solid #ffd52d;
 	border-bottom: 1px solid #ffd52d;
 	background-color: #ffffcc;
 	color: #222;
 }
 .wdsm_ad_link.yellow a.wdsm_action_link{
 	padding: 4px 15px;
 	background-color: #576d13;
 	color: #fff;
 	text-shadow: -1px -1px 0px #3a490d;
 	text-decoration:none;
 	float: right;
 	-moz-border-radius:5px;-khtml-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;
 }
 .wdsm_ad_link.yellow a:hover.wdsm_action_link{
 	background: #79991b;
 	color: #eee;
 }
 /*--------------------------------------------------------------
 3.4 - Red
 --------------------------------------------------------------*/
.wdsm_ad_link.red{
	border: 1px dotted #fff;
	background: #aa0000;
	color: #fff;
}
.wdsm_ad_link.red a.wdsm_action_link{
	padding: 4px 15px;
	background-color: #720000;
	color: #fff;
	text-decoration:none;
	-moz-border-radius:10px;-khtml-border-radius:10px;-webkit-border-radius:10px;border-radius:10px;
}
.wdsm_ad_link.red a:hover.wdsm_action_link{
	background: #470000;
	color: #fff;
}

/* ----- Popup ----- */

#wdsm-popup_overlay {
	background-color: #000;
	zoom: 1;
	filter: alpha(opacity=75);
	opacity: 0.75;
}
#wdsm-popup_wrapper {
	overflow: hidden;
	background-color: #f8f8f8;
	padding: 4px;
	border: 1px solid #ddd;
	min-width: 280px;
	width: 25%;
}
#wdsm-popup_wrapper-inside {
	border: 1px solid #ddd;
}
#wdsm-popup_close {
	position: absolute;
	top: 4px; 
	right: 4px;
	border: 1px solid #ddd;
	background-color: #f1f1f1;
	padding: 2px 7px;
	color: #737373;
	cursor: pointer;
}
#wdsm-popup_body {
	color: #737373;
	padding: 10px;
	/*overflow: hidden;*/
	overflow: auto;
}
.wdsm-service-waiting_response {
	clear: both;
	margin: 10px auto;
	text-align: center;
}
#wdsm-popup_body .wdsm_result {
	margin: 10px 0;
}
#wdsm-popup_body .wdsm_result textarea {
	width: 98%;
	border: 1px solid #ddd;
	background-color: #f8f8f8;
	padding: 1%;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
#wdsm-popup_body .wdsm_result .button {
	display: block;
	float: left;
	margin-top: 10px;
	background-color: #f0f7e5;
	color: #86af73;
	border: 1px solid #dcdedd;
	padding: 8px 18px;
	text-decoration: none;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}